@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-font-geist-sans);
}


.titleFontMontserrat {
  font-family: var(--font-montserrat);
  color: red;
}

.titleFontGeistMono{
  font-family: var(--font-geist-mono);
  color: blue;
}